@{
    ViewData["Title"] = "Connection Editor";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<div id="connectionApp">Connections App</div>
<script src="/assets/dist/connections-bundle.js"></script>
